body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    С;
    display: block;
    margin: 0 auto;
    border: 2px solid #333;
    border-radius: 10px;
    text-align: center;
    background-color: rgb(196, 255, 200);
}
.buttons {
    font-family: 'Times New Roman', Times, serif, sans-serif
}
